<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2"> <!-- This can be considered as regrssion or smoke suite-->

	<listeners>
		<listener class-name="framework.Listeners" />
	</listeners>

	<test thread-count="5" name="Personal Loan" parallel="classes"> <!--Test folder name = module-->
		<parameter name="URL" value="personalLoan.com" />
		<classes>
			<class name="framework.TestRunning"> <!--Test Cases-->
				<methods>
					<include name="Demo2"></include>
				</methods>
			</class>
			<class name="framework.PersonalLoanTestCase" />
		</classes>
	</test> <!--Test -->

	<test name="Car Loan">
		<parameter name="URL" value="CarLoan.com" />
		<parameter name="Key" value="1234567890" />
		<classes>
			<class name="framework.CarLoanTestCases"> <!--Test Cases-->
				<methods>
					<exclude name="appium.*"></exclude>
				</methods>
			</class>
		</classes>
	</test>


</suite> <!--Suite -->
